In [1]:
from importlib.metadata import version
import ibmidb
version('ibmidb')

'0.0.2'

In [2]:
from ibmidb.client import SSHClient, SQLJob
import pandas as pd

c:\Users\6J3034897\Anaconda3\envs\test-idb\Lib\site-packages\paramiko\transport.py:219: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,

## Create Client and establish connection

In [3]:
CONNECTION_DETAILS = {
    'hostname': 'ut24p60',
    'username': 'ashedivy'
}

client = SSHClient(CONNECTION_DETAILS)
job = SQLJob(client)
ret = job.connect()
print(ret)

{'id': 'boop', 'job': '014299/QUSER/QZDASOINIT', 'success': True}

### Create driver function for running sql statements

In [4]:
def create_and_execute(sql: str = None, rows: int = None, conn=client, verbose=False):
    if sql is None:
        return
    job = SQLJob(conn)
    connection = job.connect()
    if verbose:
        print(f"connection: {connection}")

    data = job.query(sql, rows=rows)
    job.close()
    return data


rows = create_and_execute(sql='select * from qsys2.syscolumns', rows=5)
print(rows)

[{'COLUMN_NAME': 'SRCSEQ', 'TABLE_NAME': 'QS36PRC', 'TABLE_OWNER': 'QSYS', 'ORDINAL_POSITION': 1, 'DATA_TYPE': 'NUMERIC', 'LENGTH': 6, 'NUMERIC_SCALE': 2, 'IS_NULLABLE': 'N', 'IS_UPDATABLE': 'Y', 'HAS_DEFAULT': 'Y', 'STORAGE': 6, 'NUMERIC_PRECISION': 6, 'TABLE_SCHEMA': '#CGULIB', 'COLUMN_DEFAULT': '0', 'NUMERIC_PRECISION_RADIX': 10, 'SYSTEM_COLUMN_NAME': 'SRCSEQ', 'SYSTEM_TABLE_NAME': 'QS36PRC', 'SYSTEM_TABLE_SCHEMA': '#CGULIB', 'IS_IDENTITY': 'NO', 'HIDDEN': 'N', 'HAS_FLDPROC': 'N'}, {'COLUMN_NAME': 'SRCDAT', 'TABLE_NAME': 'QS36PRC', 'TABLE_OWNER': 'QSYS', 'ORDINAL_POSITION': 2, 'DATA_TYPE': 'NUMERIC', 'LENGTH': 6, 'NUMERIC_SCALE': 0, 'IS_NULLABLE': 'N', 'IS_UPDATABLE': 'Y', 'HAS_DEFAULT': 'Y', 'STORAGE': 6, 'NUMERIC_PRECISION': 6, 'TABLE_SCHEMA': '#CGULIB', 'COLUMN_DEFAULT': '0', 'NUMERIC_PRECISION_RADIX': 10, 'SYSTEM_COLUMN_NAME': 'SRCDAT', 'SYSTEM_TABLE_NAME': 'QS36PRC', 'SYSTEM_TABLE_SCHEMA': '#CGULIB', 'IS_IDENTITY': 'NO', 'HIDDEN': 'N', 'HAS_FLDPROC': 'N'}, {'COLUMN_NAME': 'SRCDTA', 'TABLE_NAME': 'QS36PRC', 'TABLE_OWNER': 'QSYS', 'ORDINAL_POSITION': 3, 'DATA_TYPE': 'CHAR', 'LENGTH': 80, 'IS_NULLABLE': 'N', 'IS_UPDATABLE': 'Y', 'HAS_DEFAULT': 'Y', 'STORAGE': 80, 'CCSID': 65535, 'TABLE_SCHEMA': '#CGULIB', 'COLUMN_DEFAULT': "' '", 'CHARACTER_MAXIMUM_LENGTH': 80, 'CHARACTER_OCTET_LENGTH': 80, 'SYSTEM_COLUMN_NAME': 'SRCDTA', 'SYSTEM_TABLE_NAME': 'QS36PRC', 'SYSTEM_TABLE_SCHEMA': '#CGULIB', 'IS_IDENTITY': 'NO', 'HIDDEN': 'N', 'HAS_FLDPROC': 'N'}, {'COLUMN_NAME': 'SRCSEQ', 'TABLE_NAME': 'QSBLSRC', 'TABLE_OWNER': 'QSYS', 'ORDINAL_POSITION': 1, 'DATA_TYPE': 'NUMERIC', 'LENGTH': 6, 'NUMERIC_SCALE': 2, 'IS_NULLABLE': 'N', 'IS_UPDATABLE': 'Y', 'HAS_DEFAULT': 'Y', 'STORAGE': 6, 'NUMERIC_PRECISION': 6, 'TABLE_SCHEMA': '#COBLIB', 'COLUMN_DEFAULT': '0', 'NUMERIC_PRECISION_RADIX': 10, 'SYSTEM_COLUMN_NAME': 'SRCSEQ', 'SYSTEM_TABLE_NAME': 'QSBLSRC', 'SYSTEM_TABLE_SCHEMA': '#COBLIB', 'IS_IDENTITY': 'NO', 'HIDDEN': 'N', 'HAS_FLDPROC': 'N'}, {'COLUMN_NAME': 'SRCDAT', 'TABLE_NAME': 'QSBLSRC', 'TABLE_OWNER': 'QSYS', 'ORDINAL_POSITION': 2, 'DATA_TYPE': 'NUMERIC', 'LENGTH': 6, 'NUMERIC_SCALE': 0, 'IS_NULLABLE': 'N', 'IS_UPDATABLE': 'Y', 'HAS_DEFAULT': 'Y', 'STORAGE': 6, 'NUMERIC_PRECISION': 6, 'TABLE_SCHEMA': '#COBLIB', 'COLUMN_DEFAULT': '0', 'NUMERIC_PRECISION_RADIX': 10, 'SYSTEM_COLUMN_NAME': 'SRCDAT', 'SYSTEM_TABLE_NAME': 'QSBLSRC', 'SYSTEM_TABLE_SCHEMA': '#COBLIB', 'IS_IDENTITY': 'NO', 'HIDDEN': 'N', 'HAS_FLDPROC': 'N'}]

In [5]:
df = pd.DataFrame(rows)
df.head()

,COLUMN_NAME,TABLE_NAME,TABLE_OWNER,ORDINAL_POSITION,DATA_TYPE,LENGTH,NUMERIC_SCALE,IS_NULLABLE,IS_UPDATABLE,HAS_DEFAULT,...,NUMERIC_PRECISION_RADIX,SYSTEM_COLUMN_NAME,SYSTEM_TABLE_NAME,SYSTEM_TABLE_SCHEMA,IS_IDENTITY,HIDDEN,HAS_FLDPROC,CCSID,CHARACTER_MAXIMUM_LENGTH,CHARACTER_OCTET_LENGTH
0,SRCSEQ,QS36PRC,QSYS,1,NUMERIC,6,2.0,N,Y,Y,...,10.0,SRCSEQ,QS36PRC,#CGULIB,NO,N,N,NaN,NaN,NaN
1,SRCDAT,QS36PRC,QSYS,2,NUMERIC,6,0.0,N,Y,Y,...,10.0,SRCDAT,QS36PRC,#CGULIB,NO,N,N,NaN,NaN,NaN
2,SRCDTA,QS36PRC,QSYS,3,CHAR,80,NaN,N,Y,Y,...,NaN,SRCDTA,QS36PRC,#CGULIB,NO,N,N,65535.0,80.0,80.0
3,SRCSEQ,QSBLSRC,QSYS,1,NUMERIC,6,2.0,N,Y,Y,...,10.0,SRCSEQ,QSBLSRC,#COBLIB,NO,N,N,NaN,NaN,NaN
4,SRCDAT,QSBLSRC,QSYS,2,NUMERIC,6,0.0,N,Y,Y,...,10.0,SRCDAT,QSBLSRC,#COBLIB,NO,N,N,NaN,NaN,NaN

In [6]:
df = pd.DataFrame(create_and_execute(sql="SELECT * FROM TABLE(QSYS2.SYSTEM_ACTIVITY_INFO())"))
df.head()

,AVERAGE_CPU_RATE,AVERAGE_CPU_UTILIZATION,MINIMUM_CPU_UTILIZATION,MAXIMUM_CPU_UTILIZATION
0,100.0,0.77,0.0,0.0